<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80b678">  <td>20/01/28 19:51:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Activity_2.afterMethod()[pri:0, instance:TestNg.Activity_2@51cdd8a]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="80b678">  <td>20/01/28 19:51:47</td>   <td>-7661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Activity_2.beforeMethod()[pri:0, instance:TestNg.Activity_2@51cdd8a]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1540270363</td>   <td></td> </tr>
<tr bgcolor="80b678">  <td>20/01/28 19:51:55</td>   <td>-80</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Activity_2.openLMSwebsite()[pri:0, instance:TestNg.Activity_2@51cdd8a]">openLMSwebsite</td> 
  <td>main@1540270363</td>   <td></td> </tr>
</table>
